<form #form="ngForm" (ngSubmit)="enviar()">
  <label>Nombre</label>
  <input name="name" type="text" [(ngModel)]="myCountry.name" required #countryName="ngModel"/>
  <span *ngIf="countryName.invalid">Este campo es requerido</span>
  <span *ngIf="countryName.valid">Felicitaciones</span>

  <br>
  <label>Capital</label>
  <input name="capital" type="text" [(ngModel)]="myCountry.capital" />
  <button>Submit</button>
</form>

<pre> {{ myCountry | json }} </pre>

<ul>
  <li *ngFor="let country of countries">
    {{ country.name }}
    {{ country.capital }}
  </li>
</ul>
